.updateStaffProfile {
    padding: 20px;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    font-family: 'Arial', sans-serif;
    animation: fadeInContent 0.5s ease-in-out;
    max-width: 600px;
    margin: 0 auto;
}

h2 {
    font-size: 24px;
    font-weight: bold;
    color: #2c3e50;
    text-align: center;
    margin-bottom: 20px;
}

.updateForm {
    display: flex;
    flex-direction: column;
}

.formGroup {
    margin-bottom: 15px;
}

.formGroup label {
    font-size: 14px;
    font-weight: bold;
    color: #34495e;
    margin-bottom: 5px;
    display: block;
}

.formGroup input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s ease;
}

.formGroup input:focus {
    border-color: #56ab2f;
    outline: none;
    box-shadow: 0 0 5px rgba(86, 171, 47, 0.2);
}

.fileName {
    font-size: 14px;
    color: #555;
    margin-top: -10px;
    margin-bottom: 10px;
}

.submitButton {
    padding: 12px 20px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: #56ab2f;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.submitButton:hover {
    background-color: #3c8d22;
    transform: scale(1.05);
}

.successMessage {
    color: #28a745;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
}

.errorMessage {
    color: #e74c3c;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
}

/* Animation */
@keyframes fadeInContent {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.formGroup select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
    transition: border-color 0.3s ease;
}

.formGroup select:focus {
    border-color: #56ab2f;
    outline: none;
    box-shadow: 0 0 5px rgba(86, 171, 47, 0.2);
}